mkdocs==1.5.3
mkdocs-material==9.4.2
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
jinja2
mkdocs-static-i18n
mkdocs-i18n

# updated and created dates
mkdocs-git-revision-date-localized-plugin

# slide/images
mkdocs-glightbox